.banner-maincontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.banner-subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    margin-left: 120px;
    width: 60px;
    height: 55px;
}

.logo:hover {
    cursor: pointer;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #D8D8D8;
}

@media screen and (max-width: 768px) {
    .banner-maincontainer {
        display: none;
        height: 80px;
    }
}